# Ghostty config (managed by Omakub_by_Szamski)

font-family = CaskaydiaCove Nerd Font Mono
font-size = 12
window-padding-x = 5
background-opacity = 0.95
background-blur = 20

# Theme colors
background = {{BACKGROUND}}
foreground = {{FOREGROUND}}
{{PALETTE}}
